body {

    background-color: rgb(15, 62, 109);
    color: rgb(229, 232, 235);
    font-family: "Bai Jamjuree", sans-serif;
    display:  flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}
 button   {
         background-color: rgb(247, 240, 240);
         color: rgb(29, 20, 1);
         font-family: "Bai Jamjuree", sans-serif;



 }